GITHUB_TOKEN=your_github_token_here
OWNER=Amari-Lawal
REPO=NHIOTPipeline
WORKFLOW_ID=build.yml
BRANCH=main
POLL_INTERVAL=10
SUBSCRIBER_ARCHITECTURE=x86_64
ARTIFACT_NAME=hello

# Secure Edge Credentials
RPI_IP=192.168.1.11
RPI_USERNAME=amari
RPI_PASSWORD=your_password_here

# MQTT Broker Configuration
ENDPOINT=a3b83988gnh54t-ats.iot.eu-west-2.amazonaws.com
CA_FILE=root-CA.crt
CERT_FILE=device.pem.crt
PRIVATE_KEY_FILE=private.pem.key
